.removedriverrrr {
  flex: 4;
}
.title{
  text-align: center;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.heading{
  text-align: left;
  margin-top: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size:2.125rem ;
  letter-spacing: 0.00735em;
  color: rgba(0, 0, 0, 0.87)
}
.Button{
  
margin-bottom: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 54px;
  padding: 8px 22px;
  border-radius: 4px;
  color: #fff;
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  width: 22%;
}
.textarea{
  
  margin-top: 25px;
  padding: 10px 14px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
  height:22px;
}
.deletebutton{
  border-radius: 12px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: #4d0808;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  width: 12%;
  padding: 8px 22px;
  color: #fff;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 54px;



}
.grid{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
}

/* border: 0;
box-sizing: content-box;
background: none;
height: 1.4375em;
margin: 0;
-webkit-tap-highlight-color: transparent;
display: block;
min-width: 0;
width: 100%;
font: inherit;
letter-spacing: inherit;
color: currentColor; */


